@tailwind base;

@tailwind components;

@tailwind utilities;


/* Custom CSS*/
button {
  outline: none !important;
}

/* #copy-popup {
  top: 0;
 
  transform: translateX(50%);

} */
#loader {
    animation: spin 0.7s linear infinite;
  }
  
  @keyframes spin {
    0%   {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
  }

  @keyframes grow {
    0%   {transform: scaleY(-0.2); transform-origin:center top;}
    100% {transform: scaleY(1);}
  }
  @keyframes zoom {
  
    0%, 100% {
      transform: scale(1.1)
    }
    50% {
      transform: scale(1)
    }
  }