@tailwind base;

@tailwind components;

@tailwind utilities;


/* Custom CSS*/
button {
  outline: none !important;
}

/* #copy-popup {
  top: 0;
 
  transform: translateX(50%);

} */
#loader {
    animation: spin 0.7s linear infinite;
  }
  
  @keyframes spin {
    0%   {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
  }

  @keyframes grow {
    0%   {transform: scaleY(-0.2); transform-origin:center top;}
    100% {transform: scaleY(1);}
  }
  @keyframes zoom {
  
    0%, 100% {
      transform: scale(1.1)
    }
    50% {
      transform: scale(1)
    }
  }

  #logo-dot {
    animation: pulse 2s linear infinite;
    margin-top: 3rem;
  }
  
  @keyframes pulse {
    0% {
      
    }
    5%, 23% {
      transform: scale(1.3)
    }
     6%, 24% {
      transform: scale(1.6)
    }
    15%, 35% {
      transform: scale(1.3)
    }
  
    50% {
      transform: scale(1)
    }
  }

  #history:hover .arrow{
    color: white;
  }

  @keyframes fadein {
    0%{
      opacity: 0;
    }
    50%{
      opacity: 0.5
    }
    100%{
      opacity: 1
    }
  }